In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn.metrics as metrics
import numpy as np
from sklearn.neighbors import NearestNeighbors
from scipy.spatial.distance import correlation, cosine
import ipywidgets as widgets
from IPython.display import display, clear_output
from sklearn.metrics import pairwise_distances
from sklearn.metrics import mean_squared_error
from math import sqrt
import sys, os

In [2]:
data = pd.read_excel('E:\\data science\\Mojotics\\Guide\\C7\\Assigments\\Project1\\Project1\\Data_model_build.xlsx', keep_default_na=False, na_values = ['','#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan','1.#IND', '1.#QNAN', 'N/A', 'NULL', 'NaN', 'n/a', 'nan','null'])

In [3]:
data.head()

,Unnamed: 0,Customer_Id,No.of products_purchased,No.of total_transactions,Recent_transaction_in_days,Employees_Total,Product_1,Product_10,Product_11,Product_12,...,"Primary_industry_Finance, Insurance, And Real Estate",Primary_industry_Manufacturing,Primary_industry_Mining,Primary_industry_Nonclassifiable Establishments,Primary_industry_Public Administration,Primary_industry_Retail Trade,Primary_industry_Services,"Primary_industry_Transportation, Communications, And Utilities",Primary_industry_Unknown SIC (Division),Primary_industry_Wholesale Trade
0,0,Customer_ID_1351,12,30,639,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,1,Customer_ID_1526,13,23,456,239756,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,2,Customer_ID_1533,16,43,274,795,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,3,Customer_ID_1654,15,44,91,300,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
4,4,Customer_ID_1264,3,3,183,8907,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [4]:
data.columns

Index(['Unnamed: 0', 'Customer_Id', 'No.of products_purchased',
       'No.of total_transactions', 'Recent_transaction_in_days',
       'Employees_Total', 'Product_1', 'Product_10', 'Product_11',
       'Product_12', 'Product_13', 'Product_14', 'Product_15', 'Product_16',
       'Product_17', 'Product_18', 'Product_19', 'Product_2', 'Product_20',
       'Product_21', 'Product_22', 'Product_23', 'Product_24', 'Product_25',
       'Product_26', 'Product_27', 'Product_28', 'Product_29', 'Product_3',
       'Product_30', 'Product_31', 'Product_32', 'Product_33', 'Product_34',
       'Product_35', 'Product_36', 'Product_37', 'Product_38', 'Product_39',
       'Product_4', 'Product_40', 'Product_41', 'Product_42', 'Product_43',
       'Product_44', 'Product_45', 'Product_46', 'Product_47', 'Product_48',
       'Product_49', 'Product_5', 'Product_50', 'Product_51', 'Product_52',
       'Product_53', 'Product_54', 'Product_55', 'Product_56', 'Product_57',
       'Product_58', 'Product_6', 'Product_7', 'Product_8', 'Product_9',
       'status', 'No_of_transactions_product29', 'last_purchased_date',
       'Classification_Diamond', 'Classification_Existing Enterprise',
       'Classification_Gold', 'Classification_Large-Existing',
       'Classification_Large-New', 'Classification_New Enterprise',
       'Classification_SMB', 'Classification_platinum', 'Region_APJ',
       'Region_EMEA', 'Region_LA', 'Region_NA',
       'Primary_industry_Construction',
       'Primary_industry_Finance, Insurance, And Real Estate',
       'Primary_industry_Manufacturing', 'Primary_industry_Mining',
       'Primary_industry_Nonclassifiable Establishments',
       'Primary_industry_Public Administration',
       'Primary_industry_Retail Trade', 'Primary_industry_Services',
       'Primary_industry_Transportation, Communications, And Utilities',
       'Primary_industry_Unknown SIC (Division)',
       'Primary_industry_Wholesale Trade'],
      dtype='object')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14247 entries, 0 to 14246
Data columns (total 90 columns):
Unnamed: 0                                                        14247 non-null int64
Customer_Id                                                       14247 non-null object
No.of products_purchased                                          14247 non-null int64
No.of total_transactions                                          14247 non-null int64
Recent_transaction_in_days                                        14247 non-null int64
Employees_Total                                                   14247 non-null int64
Product_1                                                         14247 non-null int64
Product_10                                                        14247 non-null int64
Product_11                                                        14247 non-null int64
Product_12                                                        14247 non-null int64
Product_13                                                        14247 non-null int64
Product_14                                                        14247 non-null int64
Product_15                                                        14247 non-null int64
Product_16                                                        14247 non-null int64
Product_17                                                        14247 non-null int64
Product_18                                                        14247 non-null int64
Product_19                                                        14247 non-null int64
Product_2                                                         14247 non-null int64
Product_20                                                        14247 non-null int64
Product_21                                                        14247 non-null int64
Product_22                                                        14247 non-null int64
Product_23                                                        14247 non-null int64
Product_24                                                        14247 non-null int64
Product_25                                                        14247 non-null int64
Product_26                                                        14247 non-null int64
Product_27                                                        14247 non-null int64
Product_28                                                        14247 non-null int64
Product_29                                                        14247 non-null int64
Product_3                                                         14247 non-null int64
Product_30                                                        14247 non-null int64
Product_31                                                        14247 non-null int64
Product_32                                                        14247 non-null int64
Product_33                                                        14247 non-null int64
Product_34                                                        14247 non-null int64
Product_35                                                        14247 non-null int64
Product_36                                                        14247 non-null int64
Product_37                                                        14247 non-null int64
Product_38                                                        14247 non-null int64
Product_39                                                        14247 non-null int64
Product_4                                                         14247 non-null int64
Product_40                                                        14247 non-null int64
Product_41                                                        14247 non-null int64
Product_42                                                        14247 non-null int64
Product_43                                                        14247 non-null int64
Product_44                                                        14247 non-null int64
Product_45                                                        14247 non-null int64
Product_46                                                        14247 non-null int64
Product_47                                                        14247 non-null int64
Product_48                                                        14247 non-null int64
Product_49                                                        14247 non-null int64
Product_5                                                         14247 non-null int64
Product_50                                                        14247 non-null int64
Product_51                                                        14247 non-null int64
Product_52                                                        14247 non-null int64
Product_53                                                        14247 non-null int64
Product_54                                                        14247 non-null int64
Product_55                                                        14247 non-null int64
Product_56                                                        14247 non-null int64
Product_57                                                        14247 non-null int64
Product_58                                                        14247 non-null int64
Product_6                                                         14247 non-null int64
Product_7                                                         14247 non-null int64
Product_8                                                         14247 non-null int64
Product_9                                                         14247 non-null int64
status                                                            14247 non-null int64
No_of_transactions_product29                                      14247 non-null int64
last_purchased_date                                               14247 non-null datetime64[ns]
Classification_Diamond                                            14247 non-null int64
Classification_Existing Enterprise                                14247 non-null int64
Classification_Gold                                               14247 non-null int64
Classification_Large-Existing                                     14247 non-null int64
Classification_Large-New                                          14247 non-null int64
Classification_New Enterprise                                     14247 non-null int64
Classification_SMB                                                14247 non-null int64
Classification_platinum                                           14247 non-null int64
Region_APJ                                                        14247 non-null int64
Region_EMEA                                                       14247 non-null int64
Region_LA                                                         14247 non-null int64
Region_NA                                                         14247 non-null int64
Primary_industry_Construction                                     14247 non-null int64
Primary_industry_Finance, Insurance, And Real Estate              14247 non-null int64
Primary_industry_Manufacturing                                    14247 non-null int64
Primary_industry_Mining                                           14247 non-null int64
Primary_industry_Nonclassifiable Establishments                   14247 non-null int64
Primary_industry_Public Administration                            14247 non-null int64
Primary_industry_Retail Trade                                     14247 non-null int64
Primary_industry_Services                                         14247 non-null int64
Primary_industry_Transportation, Communications, And Utilities    14247 non-null int64
Primary_industry_Unknown SIC (Division)                           14247 non-null int64
Primary_industry_Wholesale Trade                                  14247 non-null int64
dtypes: datetime64[ns](1), int64(88), object(1)
memory usage: 9.8+ MB

In [6]:
data = data.set_index('Customer_Id')

In [7]:
data = data.drop(['Unnamed: 0','last_purchased_date','status','No_of_transactions_product29'],axis = 1)

In [8]:
data.shape

(14247, 85)

In [9]:
data.head()

,No.of products_purchased,No.of total_transactions,Recent_transaction_in_days,Employees_Total,Product_1,Product_10,Product_11,Product_12,Product_13,Product_14,...,"Primary_industry_Finance, Insurance, And Real Estate",Primary_industry_Manufacturing,Primary_industry_Mining,Primary_industry_Nonclassifiable Establishments,Primary_industry_Public Administration,Primary_industry_Retail Trade,Primary_industry_Services,"Primary_industry_Transportation, Communications, And Utilities",Primary_industry_Unknown SIC (Division),Primary_industry_Wholesale Trade
Customer_Id,,,,,,,,,,,,,,,,,,,,,
Customer_ID_1351,12,30,639,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
Customer_ID_1526,13,23,456,239756,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
Customer_ID_1533,16,43,274,795,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
Customer_ID_1654,15,44,91,300,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
Customer_ID_1264,3,3,183,8907,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [14]:
model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(data)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [24]:
pros = ['Product_1','Product_10', 'Product_11', 'Product_12', 'Product_13', 'Product_14','Product_15', 'Product_16', 'Product_17', 'Product_18', 'Product_19','Product_2', 'Product_20', 'Product_21', 'Product_22', 'Product_23','Product_24', 'Product_25', 'Product_26', 'Product_27', 'Product_28','Product_29', 'Product_3', 'Product_30', 'Product_31', 'Product_32','Product_33', 'Product_34', 'Product_35', 'Product_36', 'Product_37','Product_38', 'Product_39', 'Product_4', 'Product_40', 'Product_41','Product_42', 'Product_43', 'Product_44', 'Product_45', 'Product_46','Product_47', 'Product_48', 'Product_49', 'Product_5', 'Product_50','Product_51', 'Product_52', 'Product_53', 'Product_54', 'Product_55','Product_56', 'Product_57', 'Product_58', 'Product_6', 'Product_7','Product_8', 'Product_9']
indexes_data = data.index.to_list()

recommondations = pd.DataFrame()
recommondations['customer'] = data.index
recommondations = recommondations.set_index(data.index)
recommondations['recommondations'] = ''

for i in data.index:
    distances, indices = model_knn.kneighbors(data.loc[i, :].values.reshape(1, -1),50)
    
    temp = pd.Series()
    
    for j in indices.flatten():
        ab1 = data.loc[indexes_data[j],['Product_1','Product_10', 'Product_11', 'Product_12', 'Product_13', 'Product_14','Product_15', 'Product_16', 'Product_17', 'Product_18', 'Product_19','Product_2', 'Product_20', 'Product_21', 'Product_22', 'Product_23','Product_24', 'Product_25', 'Product_26', 'Product_27', 'Product_28','Product_29', 'Product_3', 'Product_30', 'Product_31', 'Product_32','Product_33', 'Product_34', 'Product_35', 'Product_36', 'Product_37','Product_38', 'Product_39', 'Product_4', 'Product_40', 'Product_41','Product_42', 'Product_43', 'Product_44', 'Product_45', 'Product_46','Product_47', 'Product_48', 'Product_49', 'Product_5', 'Product_50','Product_51', 'Product_52', 'Product_53', 'Product_54', 'Product_55','Product_56', 'Product_57', 'Product_58', 'Product_6', 'Product_7','Product_8', 'Product_9']]
        if(temp.empty):
            temp=ab1
        else:
            temp=temp+ab1
            
    r_prods = []
        
    for k in temp.sort_values(ascending = False).head(3).index.values:
        r_prods.append(k)
    
    recommondations.loc[i,'recommondations']= r_prods

In [25]:
recommondations

                            customer                       recommondations
Customer_Id
Customer_ID_1351    Customer_ID_1351   [Product_29, Product_30, Product_5]
Customer_ID_1526    Customer_ID_1526    [Product_5, Product_29, Product_6]
Customer_ID_1533    Customer_ID_1533   [Product_29, Product_5, Product_30]
Customer_ID_1654    Customer_ID_1654   [Product_29, Product_5, Product_30]
Customer_ID_1264    Customer_ID_1264    [Product_13, Product_5, Product_6]
Customer_ID_1272    Customer_ID_1272  [Product_13, Product_22, Product_25]
Customer_ID_1345    Customer_ID_1345   [Product_5, Product_29, Product_38]
Customer_ID_1112    Customer_ID_1112   [Product_29, Product_30, Product_5]
Customer_ID_1113    Customer_ID_1113   [Product_5, Product_29, Product_30]
Customer_ID_1358    Customer_ID_1358    [Product_5, Product_29, Product_6]
Customer_ID_1389    Customer_ID_1389  [Product_29, Product_27, Product_48]
Customer_ID_1347    Customer_ID_1347   [Product_29, Product_48, Product_5]
Customer_ID_1418    Customer_ID_1418   [Product_29, Product_5, Product_38]
Customer_ID_1426    Customer_ID_1426  [Product_13, Product_48, Product_29]
Customer_ID_2666    Customer_ID_2666   [Product_29, Product_27, Product_5]
Customer_ID_2682    Customer_ID_2682  [Product_29, Product_13, Product_27]
Customer_ID_2686    Customer_ID_2686  [Product_27, Product_48, Product_13]
Customer_ID_2731    Customer_ID_2731   [Product_30, Product_5, Product_13]
Customer_ID_2750    Customer_ID_2750   [Product_5, Product_29, Product_48]
Customer_ID_2776    Customer_ID_2776   [Product_5, Product_30, Product_38]
Customer_ID_2783    Customer_ID_2783   [Product_29, Product_5, Product_30]
Customer_ID_2830    Customer_ID_2830    [Product_5, Product_6, Product_29]
Customer_ID_2864    Customer_ID_2864   [Product_30, Product_5, Product_29]
Customer_ID_2871    Customer_ID_2871   [Product_29, Product_48, Product_5]
Customer_ID_2894    Customer_ID_2894   [Product_5, Product_27, Product_52]
Customer_ID_2913    Customer_ID_2913   [Product_5, Product_29, Product_13]
Customer_ID_2936    Customer_ID_2936   [Product_29, Product_5, Product_30]
Customer_ID_1644    Customer_ID_1644   [Product_29, Product_5, Product_30]
Customer_ID_1683    Customer_ID_1683   [Product_29, Product_5, Product_13]
Customer_ID_1688    Customer_ID_1688   [Product_29, Product_5, Product_27]
...                              ...                                   ...
Customer_ID_13880  Customer_ID_13880   [Product_39, Product_5, Product_48]
Customer_ID_13894  Customer_ID_13894   [Product_29, Product_5, Product_48]
Customer_ID_13895  Customer_ID_13895    [Product_29, Product_6, Product_5]
Customer_ID_13908  Customer_ID_13908  [Product_48, Product_29, Product_20]
Customer_ID_13912  Customer_ID_13912   [Product_29, Product_5, Product_38]
Customer_ID_13927  Customer_ID_13927  [Product_48, Product_27, Product_13]
Customer_ID_13931  Customer_ID_13931   [Product_29, Product_30, Product_5]
Customer_ID_13979  Customer_ID_13979   [Product_29, Product_5, Product_30]
Customer_ID_13990  Customer_ID_13990   [Product_29, Product_5, Product_27]
Customer_ID_14010  Customer_ID_14010   [Product_29, Product_48, Product_5]
Customer_ID_14017  Customer_ID_14017   [Product_29, Product_5, Product_30]
Customer_ID_14051  Customer_ID_14051   [Product_29, Product_5, Product_30]
Customer_ID_14083  Customer_ID_14083   [Product_29, Product_5, Product_30]
Customer_ID_14091  Customer_ID_14091   [Product_6, Product_29, Product_12]
Customer_ID_14101  Customer_ID_14101  [Product_27, Product_13, Product_38]
Customer_ID_14134  Customer_ID_14134   [Product_29, Product_5, Product_17]
Customer_ID_14159  Customer_ID_14159   [Product_29, Product_5, Product_30]
Customer_ID_14174  Customer_ID_14174   [Product_29, Product_5, Product_17]
Customer_ID_14213  Customer_ID_14213  [Product_38, Product_29, Product_27]
Customer_ID_14245  Customer_ID_14245   [Product_29, Product_5, Product_48]
Customer_ID_14254  Customer_ID_14254   [Product_29, Product_5, Product_27]
Customer_ID_14257  Customer_ID_14257   [Product_29, Product_5, Product_30]
Customer_ID_14258  Customer_ID_14258  [Product_29, Product_17, Product_30]
Customer_ID_14273  Customer_ID_14273   [Product_27, Product_5, Product_29]
Customer_ID_14275  Customer_ID_14275   [Product_29, Product_5, Product_30]
Customer_ID_14282  Customer_ID_14282   [Product_29, Product_5, Product_48]
Customer_ID_14302  Customer_ID_14302    [Product_6, Product_5, Product_29]
Customer_ID_14316  Customer_ID_14316   [Product_29, Product_5, Product_27]
Customer_ID_14325  Customer_ID_14325   [Product_6, Product_22, Product_53]
Customer_ID_14337  Customer_ID_14337   [Product_29, Product_5, Product_30]

[14247 rows x 2 columns]

In [40]:
def R3_prods(customer):
    distances, indices = model_knn.kneighbors(data.loc[customer, :].values.reshape(1, -1),50)
    
    temp = pd.Series()
    
    for j in indices.flatten():
        ab1 = data.loc[indexes_data[j],['Product_1','Product_10', 'Product_11', 'Product_12', 'Product_13', 'Product_14','Product_15', 'Product_16', 'Product_17', 'Product_18', 'Product_19','Product_2', 'Product_20', 'Product_21', 'Product_22', 'Product_23','Product_24', 'Product_25', 'Product_26', 'Product_27', 'Product_28','Product_29', 'Product_3', 'Product_30', 'Product_31', 'Product_32','Product_33', 'Product_34', 'Product_35', 'Product_36', 'Product_37','Product_38', 'Product_39', 'Product_4', 'Product_40', 'Product_41','Product_42', 'Product_43', 'Product_44', 'Product_45', 'Product_46','Product_47', 'Product_48', 'Product_49', 'Product_5', 'Product_50','Product_51', 'Product_52', 'Product_53', 'Product_54', 'Product_55','Product_56', 'Product_57', 'Product_58', 'Product_6', 'Product_7','Product_8', 'Product_9']]
        
        if(temp.empty):
            temp=ab1
        else:
            temp=temp+ab1
    r_prods = []       
    for i in temp.sort_values(ascending = False).head(3).index.values:
        r_prods.append(i)
    return r_prods

In [43]:
R3_prods('Customer_ID_14275')

['Product_29', 'Product_5', 'Product_30']

In [42]:
recommondations.loc['Customer_ID_14275','recommondations']

['Product_29', 'Product_5', 'Product_30']